# Data Sciene Tools and Ecosytem

### In this notebook, Data Science Tools and Ecosystem are summarised

#### __Objectives:__ 
- Commonly Used Libraries used by Data Scientists
- Arithmetic expressions in Python
- Data Science tools
- Unordered and ordered lists

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
|--------------------|
| Git |
| Apache |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
### This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lost Puberty